name: Publish to NuGet

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'

permissions:
  contents: read

jobs:
  test:
    uses: ./.github/workflows/test.yml
    secrets: inherit
  publish:
    needs: test
    name: Publish
    permissions:
      id-token: write
    environment: nuget
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        
      - name: Get name, version, and group from csproj files
        id: get_version
        run: |
          set -e
          VERSION=$(awk -F'[<>]' '/^[[:space:]]*<Version>/ {print $3}' QsNet/QsNet.csproj)
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore

      - name: Build & Pack
        run: dotnet pack QsNet/QsNet.csproj -c Release -o ./artifacts
        
      - name: Push to NuGet
        run: dotnet nuget push ./artifacts/QsNet.$VERSION.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate

      - name: Upload .nupkg artefact
        uses: actions/upload-artifact@v4
        with:
          name: QsNet.${{ env.VERSION }}
          path: ./artifacts/QsNet.${{ env.VERSION }}.nupkg
          retention-days: 7
  release:
    needs:
      - test
      - publish
    name: Github Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Get name, version, and group from csproj files
        id: get_version
        run: |
          set -e
          VERSION=$(awk -F'[<>]' '/^[[:space:]]*<Version>/ {print $3}' QsNet/QsNet.csproj)
          echo "VERSION=$VERSION" >> $GITHUB_ENV
      - name: Download package artifact
        uses: actions/download-artifact@v5
        with:
          name: QsNet.${{ env.VERSION }}
          path: ./artifacts
      - name: Create tag-specific CHANGELOG
        id: create_changelog
        run: |
          set -e
          CHANGELOG_PATH=$RUNNER_TEMP/CHANGELOG.md
          awk '/^##[[:space:]].*/ { if (count == 1) exit; count++; print } count == 1 && !/^##[[:space:]].*/ { print }' CHANGELOG.md | sed -e :a -e '/^\n*$/{$d;N;ba' -e '}' > $CHANGELOG_PATH
          echo -en "\n[https://www.nuget.org/packages/QsNet](https://www.nuget.org/packages/QsNet)" >> $CHANGELOG_PATH
          echo "CHANGELOG_PATH=$CHANGELOG_PATH" >> $GITHUB_ENV
      - name: Create release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ env.VERSION }}
          tag_name: v${{ env.VERSION }}
          body_path: ${{ env.CHANGELOG_PATH }}
          files: ./artifacts/QsNet.${{ env.VERSION }}.nupkg
      - name: Clean up
        id: clean_up
        if: ${{ always() }}
        run: |
          rm -rf $CHANGELOG_PATH
          rm -rf ./artifacts/*.nupkg